<lib-orchestrix-ui-layout>
  <ng-template #headerTemplate>
    <lib-orchestrix-ui-header
      logo="assets/admin-logo.png"
      title="Admin Portal"
      [actions]="adminHeaderActions">
    </lib-orchestrix-ui-header>
  </ng-template>

  <ng-template #sidenavTemplate>
    <lib-orchestrix-ui-sidenav
      [menuItems]="adminMenuItems">
    </lib-orchestrix-ui-sidenav>
  </ng-template>

  <ng-template #footerTemplate>
    <lib-orchestrix-ui-footer
      [footerText]="'© 2025 Orchestrix Admin Portal'"
      [links]="footerLinks">
    </lib-orchestrix-ui-footer>
  </ng-template>

  <!-- Main content -->
  <div class="admin-dashboard">
    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</lib-orchestrix-ui-layout>
